<!-- Template -->
<!-- Contentbereich -->
<div class="headline">Auswertung - Weiterbildung - Detail</div>

<hr>

<div class="headline_small">Weiterbildung</div>
    <table class="overview">
        <tr>
            <th>Bezeichnung</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Beschreibung</th>
            <th>max. Teilnehmer</th>
            <th>min. Teilnehmer</th>
        </tr>
@var entry_a;@


   @entry_a = context;@
    <!-- Weiterbildungen "rausfiltern"-->

        <tr>
            <td>#entry_a[0]#</td>
            <td>#entry_a[1]#</td>
            <td>#entry_a[2]#</td>
            <td>#entry_a[3]#</td>
            <td>#entry_a[4]#</td>
            <td>#entry_a[5]#</td>
        </tr>


    </table>

<hr>

<div class="headline_small">Erfolgreiche Teilnehmer</div>
    <table class="overview">
        <tr>
            <th>Name</th>
            <th>Vorname</th>
            <th>akademische Grade</th>
            <th>Tätigkeit</th>
        </tr>
    @var entry_a = context[8];@
    @var loop_i;@
    @for loop_i in entry_a@
        @entry_b = entry_a[loop_i];@
            @if entry_b[4] == "erfolgreich"@
            <tr>
                <td>#entry_b[0]#</td>
                <td>#entry_b[1]#</td>
            	<td>#entry_b[2]#</td>
            	<td>#entry_b[3]#</td>
            </tr>
            @endif@
    @endfor@
    </table>

<div>
    <button class="zurück_auswertung_weiterbildung" id="idBackAuswertungWeiterbildung">Zurück</button>
</div>

<div> </div>
<!-- EOF -->