<!-- Template -->
<!-- Contentbereich -->
<div class="headline">Auswertung - Weiterbildung</div>
<table class="overview">
   <tr>
		<th>Bezeichnung</th>
		<th>Von</th>
		<th>Bis</th>
		<th>Beschreibung</th>
		<th>max. Teilnehmer</th>
		<th>min. Teilnehmer</th>
	</tr>
    @var entry_a;@
    @var loop_i;@
	@var entry_b;@
    @for loop_i in context@
	  @entry_a = context[loop_i];@
	  	<!-- Weiterbildungen "rausfiltern"-->
		@entry_b = entry_a[1]@
      	<tr id="#entry_a[0]#">
			<td>#entry_b[0]#</td>
      	   	<td>#entry_b[1]#</td>
      	   	<td>#entry_b[2]#</td>
			<td>#entry_b[3]#</td>
			<td>#entry_b[4]#</td>
			<td>#entry_b[5]#</td>
	  	</tr>

   @endfor@
</table>
<input type="hidden" id="action" name="action" value="weiterbildung" />

<div>
	<button class="buttons" id="anzeigen_auswertung_weiterbildung">Anzeigen</button>
</div>
<!-- EOF -->