<!-- Template -->
<!-- Contentbereich -->
<div class="headline">Auswertung - Zertifikate - Detail</div>

<hr>

<div class="headline_small">Mitarbeiter</div>
<table class="overview">
	<tr>
        <th>Name</th>
        <th>Vorname</th>
        <th>akademische Grade</th>
        <th>Tätigkeit</th>
    </tr>
    @var entry_a = context[3];@
    @var loop_i;@
    @for loop_i in entry_a@
       @entry_b = entry_a[loop_i];@
            <tr>
                <td>#entry_b[0]#</td>
                <td>#entry_b[1]#</td>
	        	<td>#entry_b[2]#</td>
	        	<td>#entry_b[3]#</td>
            </tr>
    @endfor@
</table>


<div>
    <button class="zurück_auswertung_zertifikat" id="idBackAuswertungZertifikat">Zurück</button>
</div>

<div> </div>
<!-- EOF -->