<!-- Template -->
<!-- Contentbereich -->
<div class="headline">Auswertung - Zertifikate</div>
<table class="overview">
   <tr>
		<th>Bezeichnung</th>
		<th>Beschreibung</th>
		<th>Berechtigt zu</th>
	</tr>
   @var entry_a;@
   @var loop_i;@
   @for loop_i in context@
      @entry_a = context[loop_i];@
      <!-- Zertifikate "rausfiltern"-->

         <tr id="#entry_a[0]#">
             <td>#entry_a[1][0]#</td>
             <td>#entry_a[1][1]#</td>
             <td>#entry_a[1][2]#</td>
         </tr>
   @endfor@
</table>
<input type="hidden" id="action" name="action" value="mitarbeiter" />

<div>
	<button class="buttons" id="anzeigen_auswertung_zertifikat">Anzeigen</button>
</div>
<!-- EOF -->