<!-- Template -->
<div class="headline"> Teilnahme - Weiterbildung - Detail</div>

<hr>

<div class="headline_small">Weiterbildung</div>
<table class="overview">
	<tr>
        <th>Bezeichnung</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Beschreibung</th>
        <th>max. Teilnehmer</th>
        <th>min. Teilnehmer</th>
    </tr>
    <tr id="#context[9]#">
        <td id="weiid" data-value=#context[9]# hidden>#context[9]#</td>
        <td>#context[0]#</td>
        <td>#context[1]#</td>
		<td>#context[2]#</td>
		<td>#context[3]#</td>
        <td>#context[4]#</td>
        <td>#context[5]#</td>
    </tr>
</table>

<hr>

<div class="headline_small">Teilnehmer</div>
<table class="overview">
	<tr>
        <th>Name</th>
        <th>Vorname</th>
        <th>akademische Grade</th>
        <th>Tätigkeit</th>
        <th>Status</th>

    </tr>

    @var entry_a = context[8];@
   	@var loop_i;@
    @var entry_b;@
   	@for loop_i in entry_a@
          @entry_b = entry_a[loop_i];@

		        <tr id="#entry_b[5]#">
		        	<td>#entry_b[0]#</td>
                	<td>#entry_b[1]#</td>
                	<td>#entry_b[2]#</td>
		        	<td>#entry_b[3]#</td>
                    <td>#entry_b[4]#</td>
                </tr>

	@endfor@
</table>

<button class="erfolg" id="erfolgTeilnahme">Erfolg</button>
<button class="nichterfolg" id="nichterfolgTeilnahme">Nichterfolg</button>
<button class="abbruch" id="abbruchTeilnahme">Abbruch</button>

<!-- EOF -->