<!-- Template -->
<!-- Contentbereich -->
<div class="headline">Teilnahme - Weiterbildung</div>

<hr>
<div class="headline_small">Abgeschlossene/Laufende Weiterbildungen</div>
<table class="overview">
   	<tr>
		<th>Bezeichnung</th>
		<th>Von</th>
		<th>Bis</th>
		<th>Beschreibung</th>
		<th>max. Teilnehmer</th>
		<th>min. Teilnehmer</th>
		<th>Status</th>
	</tr>

   	@var entry_a;@
   	@var loop_i;@
   	@for loop_i in context@
      	@entry_a = context[loop_i];@




      		<tr id="#loop_i#">
				<td>#entry_a[0]#</td>
        		<td>#entry_a[1]#</td>
        		<td>#entry_a[2]#</td>
				<td>#entry_a[3]#</td>
				<td>#entry_a[4]#</td>
				<td>#entry_a[5]#</td>
				<td>#entry_a[5]#</td>
      		</tr>

   	@endfor@
</table>

<hr>
<div class="headline_small">Geplante Weiterbildungen</div>
<table class="overview">
	<tr>
		<th>Bezeichnung</th>
		<th>Von</th>
		<th>Bis</th>
		<th>Beschreibung</th>
		<th>max. Teilnehmer</th>
		<th>min. Teilnehmer</th>
	</tr>
	@var entry_a;@
	@var loop_i;@
	@for loop_i in context@
			@entry_a = context[loop_i];@

	   		<tr id="#loop_i#">
				<td>#entry_a[0]#</td>
		  		<td>#entry_a[1]#</td>
		  		<td>#entry_a[2]#</td>
		  		<td>#entry_a[3]#</td>
		  		<td>#entry_a[4]#</td>
		  		<td>#entry_a[5]#</td>
	   		</tr>

	@endfor@
 </table>

<input type="hidden" id="action" name="action" value="weiterbildung" />

<div>
	<button class="buttons" id="anzeigen_teilnahme_weiterbildung">Anzeigen</button>
</div>
<!-- EOF -->