<!-- Template -->
<!-- Contentbereich -->
<div class="headline">Teilnahme - Mitarbeiter</div>
<table class="overview">
   <tr>
		<th>Name</th>
		<th>Vorname</th>
		<th>Akademischer Grad</th>
		<th>Tätigkeit</th>
	</tr>
   @var entry_a;@
   @var loop_i;@
   @for loop_i in context@
      @entry_a = context[loop_i];@
      <tr id="#loop_i#">
		   <td>#entry_a[0]#</td>
         <td>#entry_a[1]#</td>
         <td>#entry_a[2]#</td>
		   <td>#entry_a[3]#</td>
      </tr>
   @endfor@
</table>

<input type="hidden" id="action" name="action" value="mitarbeiter" />

<div>
	<button class="buttons" id="anzeigen_teilnahme_mitarbeiter">Anzeigen</button>
</div>
<!-- EOF -->